body{
    text-align: center;
    background-color: #97C8EB;
    font-family: oswald;
}
header{
    font-family: pacifico;
    display: flex;
    background-color: #89B0AE;
}
main {
    background-color: cadetblue;
    margin-left: 15%;
    margin-right: 15%
}

h1,
h2 {
    color: antiquewhite;
}

ol {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    padding-left: 0px;
}

li {
    list-style: none;
}

input,
select {
    display: block;
    width: 100%;
    padding: 0.3rem 0rem 0.3rem 0.3rem;
    font-weight: 500;
    border-radius: 6px;
}

#date {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 0px 0px;
    margin-top: 0.9em;
    width: 50%;
}

#date>p {
    margin: 0.4em
}

select {
    padding: 0.5em 9.5rem 0.5em 1em;
}

.olCheckbox {
    display: flex;
    justify-content: center;
}

.olCheckbox>li {
    margin: 1em;
}

.olCheckbox>li>input {
    margin-left: 25%;
    margin-right: 25%;
}

input[type="checkbox"] {
    width: 1.7em;
    height: 1.7em;
}
input[type="submit"] {
    width:25%;
    margin-left: 37.5%;
}