body{
    text-align: center;
    background-color: #97C8EB;
    font-family: oswald;
}
header{
    font-family: pacifico;
    display: flex;
    background-color: #89B0AE;
}
header>a>img{
    height:6em;
    width:auto;
    margin-right: 0px;
    margin-left: 28rem;
     /** A changer au possible*/
}
header>h1{
    margin-right: auto;
    margin-left: auto;
    /**Idem*/
    font-size: 3em;
    margin-top: 1px;
    margin-bottom: 1px;
    color:white;
}
main>img{
    height: 12rem;
    width: auto;
    margin-bottom: 0.7em;
}
