main {
    background-color: cadetblue;
    margin-left: 15%;
    margin-right: 15%
}
h1,h2{
    color:antiquewhite;
}

section:last-child>article:last-child>div {
    display: flex;
}

ol {
    display: inline-block;
    text-align: left;
}

section:last-child {
    display: inline-block;
    text-align: center;
}

li {
    list-style: none;
    margin: 0%;
}

input, select {
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-weight: 500;
    border-radius: 6px;
}

.date {
    padding: 0px 0px;
    margin: 5px
}

select {
    padding: 0.5em 9.5rem 0.5em 1em;
}
.select>ol{
    padding-inline-start: 10px;
}
article:last-child{
    margin-left:4rem;
}