body{
    text-align: center;
    background:linear-gradient(135deg,rgb(153, 202, 89),rgb(211, 60, 131));
    font-family: oswald;
}
main>article{
    color:white;
    background-color: blue;
    font-size: 1rem;
    max-width: 45%;
    padding: 0.3rem;
    margin-bottom: 1em;
    border-radius: 5em;
    box-shadow: 6px 6px 10px 2px rgba(119, 119, 119, 0.78);
}
article:nth-of-type(1){ /**Pour une raison inconnue :first-child ne fonctionne pas*/
    opacity: 0;
    animation-name: insertMessage;
    animation-duration: 0.6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
article:not(:last-child):nth-child(2n+1){
    opacity: 0;
    animation-name: insertMessage;
    animation-duration: 0.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

article:last-child{
    font-size: 2rem;
    padding: 0.7rem;
    background-color: white;
    margin-right: 0px;
    margin-left: auto;
    opacity: 0;
    animation-name: insertLastMessage;
    animation-duration: 0.6s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
article:last-child>a{
    text-decoration: none;
}
main>img{
    height: 12rem;
    width: auto;
    margin-bottom: 0.7em;
}
@keyframes insertMessage {
    0%{
        transform: translate3d(-150px, 0, 0);
    }
    100% {
        transform: translate3d(0,0,0);
        opacity:1
    }
}

@keyframes insertLastMessage {
    0%{
        transform: translate3d(150px, 0, 0);
    }
    100% {
        transform: translate3d(0,0,0);
        opacity:1
    }
}