body {
    text-align: center;
    background:linear-gradient(135deg,rgb(153, 202, 89),rgb(211, 60, 131));
    font-family: oswald;
    margin-bottom:70px;
}

header {
    font-family: pacifico;
    background-color: #89B0AE;
    text-align: center;
}

main {
    background-color: cadetblue;
    margin-left: 15%;
    margin-right: 15%
}

footer {
    position: fixed;
    background:linear-gradient(135deg,rgb(153, 202, 89),rgb(211, 60, 131));
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
ol {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    padding-left: 0px;
}
li {
    list-style: none;
}
table {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    border-collapse: collapse;
}
td,
th {
    padding: 10px;
    border: 2px solid #C49799;
    text-align: center;
}
/** INPUTS */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    transition: all .15s ease;
    border: solid 0.1px blanchedalmond;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    outline: none;
}
input[type="checkbox"] {
    width: 1.7em;
    height: 1.7em;
}
input[type="button"] {
    margin: 0.4rem 0rem 0.4rem 0rem;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    transition: all .5s;
}

input[type="button"]:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

select{
    padding: 0.3rem 0rem 0.3rem 0.3rem;
    font-weight: 500;
    border-radius: 6px;
}