header{
    font-family: pacifico;
    display: flex;
}
header>a>img{
    height:6em;
    width:auto;
    margin-right: -5%;
}
header>h1{
    margin-right: 40%;
    margin-left: 46%;
    /**Idem*/
    font-size: 3em;
    margin-top: 1px;
    margin-bottom: 1px;
    color:white;
    justify-content: center;
}