body {
    background-color: #D2D6DE;
    font-family: oswald;
    margin-bottom: 70px;
}

h1 {
    color: white;
}

header {
    font-family: pacifico;
    background: linear-gradient(135deg, rgb(118, 193, 255), rgb(45, 129, 255));
    text-align: center;
}

main {
    background-color: rgb(137, 184, 255);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    padding: 0.5%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

main>form p {
    background-color: #455EB5;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    float: left;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

footer {
    position: fixed;
    background: linear-gradient(135deg, rgb(51, 101, 141), rgb(45, 129, 255));
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

main>img {
    height: 12rem;
    width: auto;
    margin-bottom: 0.7em;
}

ol {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    padding-left: 0px;
}

li {
    list-style: none;
}

table {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    border: 2px solid #C49799;
    text-align: center;
}

/** INPUTS */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"] {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    background: none;
    transition: all .15s ease;
    border: solid 0.1px blanchedalmond;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
    outline: none;
}

input[type="checkbox"] {
    width: 1.7em;
    height: 1.7em;
}

input[type="checkbox"]:checked {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    transition: all .5s;
}

input[type="button"],
input[type="submit"] {
    /* code button*/
    margin: 0.4rem 0rem 0.4rem 0rem;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    transition: all .5s;
}

input[type="button"]:disabled,
input[type="submit"]:disabled {
    /* code button*/
    margin: 0.4rem 0rem 0.4rem 0rem;
    background-image: linear-gradient(92.88deg, #57585c 9.16%, #75747c 43.89%, #777480 64.72%);
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    transition: all .5s;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

select {
    padding: 0.3rem 0rem 0.3rem 0.3rem;
    font-weight: 500;
    border-radius: 6px;
}

.doc {
    text-align: center;
    margin-bottom: 1em;
}

ul {
    display: flex;
}

li {
    margin: 2%;
}

#head_periodes {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 41%;
    margin-right: 41%;
    align-items: center;
}

.dispo {
    background-color: #E9E7E5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 3%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 1%;
    padding-right: 1%;
}