header{
    font-family: pacifico;
    display: flex;
    justify-content: space-between;
}

header>a>img{
    height:3em;
    width:auto;
}
header>h1{
    margin-top: 1px;
    margin-bottom: 1px;
    color:white;
}