{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block contents %}
        <h2>Créateurs du site Vacat'O</h1>
        <section>
            <img  src="{{ url_for('static', filename='IMG/Nathan_Bourdere.png') }}" alt="retour arriere">
            <h2>Nathan Bourdere</h2>
            <p>Chef d'équipe - Développeur Back-End/Responsable BD</p>
        </section>
        <section>
            <img  src="{{ url_for('static', filename='IMG/Theo_Viard.png') }}" alt="retour arriere">
            <h2>Théo Viard</h2>
            <p>Développeur Front-End/Back-End</p>
        </section>
        <section>
            <img  src="{{ url_for('static', filename='IMG/Constantin_Loszach.png') }}" alt="retour arriere">
            <h2>Constantin Loszach</h2>
            <p>Développeur Back-End/Agenceur des données</p>
        </section>
        <section>
            <img  src="{{ url_for('static', filename='IMG/Bryan_Blin.png') }}" alt="retour arriere">
            <h2>Bryan Blin--Dorard</h2>
            <p>Développeur Front-End/Templates Designer</p>
        </section>
        <h3>Les logiciels et les cathédrales, c'est un peu la même chose - d'abord on les construit, ensuite on prie.</h3>
{% endblock %}