<!DOCTYPE html>
<html lang="'fr">
  <head>
    <link rel="icon" href="{{ url_for('static',filename='IMG/vacato_logo.png')}}" sizes="192x192">
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald"
      rel="stylesheet"
    />
    <title>VACAT'O</title>
    <link
      href="{{ url_for('static', filename='CSS/generalCSS.css')}}"
      rel="stylesheet"
    />
  </head>
  <script src="{{ url_for('static', filename='JS/verifAge.js')}}"></script>
  <body>
    <header>
      <h1>Vacat'o</h1>
    </header>
    <main>
      <section id="flexAvatar">
        <h2>Votre Dossier</h2>
        <label>Etat du dossier : {{etat_doc.etat_dossier}}</label>
        <br>
        <form name=”formulaireTD1” action=”TP3_quizz.html” method=”POST”>
          <label>Votre nom</label>
          <input class="doc" type="Text" name="nomDoc" required placeholder="Dupont Moretti">
          <label>Votre prénom</label>
          <input class="doc" type="Text" name="prenomDoc" required placeholder="Jean Paul">
          <label>Votre Date de Naissance</label>
          <input class="doc" type="date" name="ddnDoc" pattern="[0-9]{2})-([0-9]{2})-([0-9]{4})" value="" required onchange="check_ddn(value,this)">
          <label>Votre Mail</label>
          <input class="doc" type="email" name="mailDoc" required placeholder="example@gmail.com">
          <label>Votre Numéro de Telephone</label>
          <input class="doc" type="tel" name="telDoc" pattern=[\d]{10,12} required placeholder="0612345678">
          <label>Votre Entreprise</label>
          <input class="doc" type="Text" name="Entreprise" placeholder="Behaviour Interactive">
          <a href="disponibilites.html"><input class="doc" type="Button" value="Renseignez vos disponibilités"></a>
          <a href="matiere.html"><input class="doc" type="button" value="Renseignez vos matières"></a>
          <br>
          <p><input type="checkbox" id="dossier_blabla_legal" required/>En cochant cette case, vous consentez au traitement des données à caractère personnel fournies dans le
            présent formulaire afin d’être recruté comme vacataire enseignant par l’Université d’Orléans.
            Seuls les services en charge du personnel au sein de l'Université d’Orléans seront destinataires des présents
            renseignements, qui sont limités à ce qui est strictement nécessaire à votre recrutement, finalité déterminée,
            explicite et légitime qui empêche tout traitement ultérieur incompatible.
            Vos données personnelles seront conservées de manière sécurisée et ne seront accessibles par les services
            opérationnels que pendant le temps nécessaire à l’accomplissement de la finalité poursuivie lors de leur collecte,
            selon les exigences légales applicables.
            Conformément au règlement européen 2016-679-UE du 27 avril 2016 et à la loi n°78-17 du 6 janvier 1978, vous
            disposez d’un droit de retrait de votre consentement. Sur les mêmes fondements, vous disposez d’un droit d’accès,
            de rectification, et en cas de motifs légitimes de suppression, de limitation et d’opposition au traitement de vos
            données.
            Vous bénéficiez également du droit à la portabilité de vos données. Vous pouvez exercer ces droits en adressant
            un courriel à l’adresse: <a href="mailto:drh.spe-ec@univ-orleans.fr">drh.spe-ec@univ-orleans.fr</a>
            Pour l’exercice de ces droits ou pour toute question relative aux traitements de données, vous pouvez contacter le
            Délégué à la Protection des Données de l’Université d'Orléans : <a href="mailto:delegueprotectiondesdonnees@univ-orleans.fr">delegueprotectiondesdonnees@univ-orleans.fr</a>.
            Par ailleurs, vous pouvez, le cas échéant, introduire une réclamation auprès de la Commission Nationale de
            l’Informatique et des Libertés (CNIL).
            Je reconnais avoir pris connaissance des dispositions règlementaires du
            présent contrat et avoir fourni toutes les pièces justificatives demandées, conformément à ma situation
            professionnelle.
            Je déclare sur l’honneur que tous les renseignements fournis sont exacts et m’engage à informer
            l’Université d’Orléans de toute modification de ma situation professionnelle (changement d’employeur,
            perte d’emploi au cours de l’année universitaire)
          </p>
        <br>
        <input type="submit" value="Enregistrer" method="POST" id="submitter">
      </form>
      <p>Dernière modification: {{date_modif.dateModif}} à {{date_modif.heureModif}}</p>
    </main>
    <footer>
      <p>Vacat'O Project, Copyright IUT’O 2022 | Tous droits réservés</p>
    </footer>
  </body>
</html>
