{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='JS/verifAge.js')}}"></script>
{% endblock %}
{% block backwards %}
<a href="/menu_vacataire/">
    <img src="../static/IMG/back.png" alt="retour arriere">
</a>
{% endblock %}
{% block contents %}
<section id="flexAvatar">
  <h2>Votre Dossier</h2>
  <label>Etat du dossier : {{ dossier.etat_dossier }}</label>
  <br>
  <form method="POST" action="{{url_for('edit_dossier')}}">
  <ol>
    <li class="doc">
      {{ form.nom.label }}
      {{ form.nom(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.prenom.label }}
      {{ form.prenom(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.email.label }}
      {{ form.email(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.tel.label }}
      {{ form.tel(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.ddn.label }}
      {{ form.ddn(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.entreprise.label }}
      {{ form.entreprise(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.nationalite.label }}
      {{ form.nationalite(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.profession.label }}
      {{ form.profession(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.meilleur_diplome.label }}
      {{ form.meilleur_diplome(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.annee_obtiention.label }}
      {{ form.annee_obtiention(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.adresse.label }}
      {{ form.adresse(class_="doc") }}
    </li>
    <li class="doc">
      {{ form.legal.label }}
      {{ form.legal(class_="doc") }}
    </li>
    <br>
    <p>En cochant cette case, vous consentez au traitement
      des données à caractère personnel fournies dans le
      présent formulaire afin d’être recruté comme vacataire enseignant par l’Université d’Orléans.
      Seuls les services en charge du personnel au sein de l'Université d’Orléans seront destinataires des présents
      renseignements, qui sont limités à ce qui est strictement nécessaire à votre recrutement, finalité déterminée,
      explicite et légitime qui empêche tout traitement ultérieur incompatible.
      Vos données personnelles seront conservées de manière sécurisée et ne seront accessibles par les services
      opérationnels que pendant le temps nécessaire à l’accomplissement de la finalité poursuivie lors de leur collecte,
      selon les exigences légales applicables.
      Conformément au règlement européen 2016-679-UE du 27 avril 2016 et à la loi n°78-17 du 6 janvier 1978, vous
      disposez d’un droit de retrait de votre consentement. Sur les mêmes fondements, vous disposez d’un droit d’accès,
      de rectification, et en cas de motifs légitimes de suppression, de limitation et d’opposition au traitement de vos
      données.
      Vous bénéficiez également du droit à la portabilité de vos données. Vous pouvez exercer ces droits en adressant
      un courriel à l’adresse: <a href="mailto:drh.spe-ec@univ-orleans.fr">drh.spe-ec@univ-orleans.fr</a>
      Pour l’exercice de ces droits ou pour toute question relative aux traitements de données, vous pouvez contacter le
      Délégué à la Protection des Données de l’Université d'Orléans : <a
        href="mailto:delegueprotectiondesdonnees@univ-orleans.fr">delegueprotectiondesdonnees@univ-orleans.fr</a>.
      Par ailleurs, vous pouvez, le cas échéant, introduire une réclamation auprès de la Commission Nationale de
      l’Informatique et des Libertés (CNIL).
      Je reconnais avoir pris connaissance des dispositions règlementaires du
      présent contrat et avoir fourni toutes les pièces justificatives demandées, conformément à ma situation
      professionnelle.
      Je déclare sur l’honneur que tous les renseignements fournis sont exacts et m’engage à informer
      l’Université d’Orléans de toute modification de ma situation professionnelle (changement d’employeur,
      perte d’emploi au cours de l’année universitaire)</li>
  </ol>
    <br>
    <input type="submit" value="Enregistrer">
  </form>
  <p>Dernière modification: le {{ date_modif_dossier }} à {{ dossier.heure_modif }}</p>
</section>
{% endblock %}