{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='JS/verifAge.js')}}"></script>
{% endblock %}
{% block backwards %}
<a href="/menu_vacataire/">
    <img src="../static/IMG/back.png" alt="retour arriere">
</a>
{% endblock %}
{% block contents %}
<section id="flexAvatar">
</section>
{% endblock %}
<article>
    <form method="POST">
        <section id="periodes">
            <h1>Periode 2023-2024</h1>
            {% for i in range(4) %}
            <div id="Periode{{i}}">
                <h2>Periode {{i}}</h2>
                {% for jours in disponibilitesPeriode %}
                <table id="table">
                    <tr>
                        <td>{{jours.jour}}</td>
                        <td>
                            <select name="{{jours.jour[0,1]}}-0-Debut">
                                {% for heure in range({{jours.heure_debut}},{{jours.heure_fin}} -1)}
                                <option value="heure{{heure}}">{{heure}}h</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="{{jours.jour[0,1]}}-0-Fin">
                                {% for heure in range({{jours.heure_debut}} -1,{{jours.heure_fin}})}
                                <option value="heure{{heure}}">{{heure}}h</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="{{jours.jour[0,1]}}-0-Type">
                                <option name="TP">TP</option>
                                <option name="TD">TD</option>
                                <option name="CM">CM</option>

                            </select>
                        </td>
                        <td>
                            <select name="{{jours.jour[0,1]}}-0-Classe">
                                {% for classe in classes %}
                                <option name="classe">{{classe}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>
            {% endfor %}
        </section>
    </form>
</article>