{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='JS/verifAge.js')}}"></script>
{% endblock %}
{% block backwards %}
<a href="/menu_vacataire/">
    <img src="../static/IMG/back.png" alt="retour arriere">
</a>
{% endblock %}
{% block contents %}
<article>
    <form method="POST">
        <section id="periodes">
            <h1>Periode 2023-2024</h1>
            {% for i in range(4) %}
            <div id="Periode{{i}}">
                <h2>Periode {{i}}</h2>
                {% for jours in disponibilitesPeriode %}
                <table id="table">
                    <tr>
                        <td>{{jours.jour_dispo}}</td>
                        <td>
                            <select name="{{jours.jour_dispo[0,1]}}-0-Debut">
                                {% for heure in range(jours.heure_dispo_debut | int,jours.heure_dispo_fin | int) %}
                                <option value="heure{{heure}}">{{heure}}h</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="{{jours.jour_dispo[0,1]}}-0-Fin">
                                {% for heure in range(jours.heure_dispo_debut | int,jours.heure_dispo_fin | int) %}
                                <option value="heure{{heure}}">{{heure}}h</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="{{jours.jour_dispo[0,1]}}-0-Type">
                                <option name="TP">TP</option>
                                <option name="TD">TD</option>
                                <option name="CM">CM</option>

                            </select>
                        </td>
                        <td>
                            <select name="{{jours.jour_dispo[0,1]}}-0-Classe">
                                <option name="classe">Unavailable</option>
                            </select>
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>
            {% endfor %}
        </section>
    </form>
</article>
{% endblock %}