{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
<style>
    li {
        display: flex;
        justify-content: center;
    }

    h4 {
        margin-right: 2em;
    }
</style>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block contents %}
<section id="dispos">
    <h1>Choisir les disponibilites a supprimer</h1>
    <article>
        <form method="POST">
            <section>
                <h2>Mes périodes</h2>
                {% for periode in liste_periodes %}
                <ul>
                    <li>
                        <h4>Période {{periode[0]}} de l'année {{periode[1]}} le {{periode[2]}} de {{periode[3]}} à
                            {{periode[4]}}</h4>
                        <input type="checkbox" name="perio" value="{{periode}}">
                    </li>
                </ul>
                {% endfor %}
                <h2>Mes dates spécifiques</h2>
                {% for date in liste_dates %}
                <ul>
                    <li>
                        <h4>Le {{date[0]}} de {{date[1]}}h à {{date[2]}}h</h4>
                        <input type="checkbox" name="dat" value="{{date}}">
                    </li>
                </ul>
                {% endfor %}
            </section>
            <input type="submit" value="Enregistrer">
        </form>
    </article>
</section>
{% endblock %}