{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}
{% block contents %}
    <form method="POST" action="{{url_for('login')}}">
        <section>
            <article>
                <h3>Accéder a mon espace personnel</h3>
                {{ form.hidden_tag()}}
                    <ol>
                        <li>
                          {{ form.login.label }}
                          {{ form.login }}
                        </li>
                        <li>
                            {{ form.password.label }}
                            {{ form.password }}
                          </li>
                    </ol>
            </article>
            <input type="submit" value="Se connecter">
        </section>
    </form>
{% endblock %}