{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="icon" href="{{ url_for('static',filename='IMG/vacato_logo.png')}}" sizes="192x192">
{% endblock %}
{% block contents %}
<main>
    <form method="POST">
        <section>
            <article>
                <h3>Accéder a mon espace personnel</h3>
                    <ol>
                        <li><label for="identifiant">Identifiant: </label><input type="text" name="idUser" id="identifiant"></li>
                        <li><label for="mdp">Mot de passe: </label><input type="password" name="password" id="mdp"></li>
                    </ol>
            </article>
            <input type="submit" value="Se connecter">
            <a href="/menu_admin/">J'ai oublié mon mot de passe</a>
            <!-- C'est evidement temporaire -->
        </section>
    </form>
</main>
{% endblock %}