{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='JS/verifAge.js')}}"></script>
{% endblock %}
{% block backwards %}
<a href="/menu_vacataire/">
    <img src="../static/IMG/back.png" alt="retour arriere">
</a>
{% endblock %}
{% block contents %}
<article>
</article>
<article id="table">
    <table>
        <table id="table">
            <tr>
                <td>ID</td>
                <td>Nom</td>
                <td>Responsable Module</td>
                <td>Assignement</td>
            </tr>
            {% for item in domaine %}
            <tr>
                <td><a href="{{url_for('voir_infos', idM=item.id_domaine)}}">{{item.id_domaine}}</a></td>
                <td>{{item.domaine}}</td>
                <td>{{item.nom_pa}} {{item.prenom_pa}}</td>
                <td>
                    {% if item.id_cours != None %}
                    Assigné !
                    {% else %}
                    Non Assigné
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </table>
</article>
{% endblock %}