{% extends "base.html" %}
{% block styles_spe %}
{{ super() }}
<style>
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        margin: 2%;
    }
    article, ul {
        border: solid 1px;
    }
</style>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='JS/matieres.js')}}"></script>
{% endblock %}
{% block contents %}
  <h1>Vos matières</h1>
        <section>
            <article>
                <div id="matieres">
                    <ul>
                        <li>
                            <select name="listes_matieres">
                                <option value="Maths">Maths</option>
                                <option value="Français">Français</option>
                                <option value="Anglais">Anglais</option>
                                <option value="Histoire">Histoire</option>
                            </select>
                        </li>
                        <li>
                            <button id="BP0" onclick="supprimerMatiere('BP0')">Supprimer</button>
                        </li>
                    </ul>
                </div>
                <input type="button" value="Ajouter" onclick="ajouterMatiere()">
            </article>
            <input type="button" value="Enregistrer" onclick="verifier_valeur()">
        </section>
{% endblock %}