{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
<style>
    ul {
        display: flex;
        justify-content: center;
    }
</style>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='JS/matieres.js')}}"></script>
{% endblock %}
{% block backwards %}
<a href="/menu_vacataire/">
    <img  src="{{ url_for('static', filename='IMG/back.png') }}" alt="retour arriere">
</a>
{% endblock %}
{% block contents %}
<h1>Vos matières</h1>
<section>
    <form method="POST">
        <article id="containerMatiere">
            <div id="matieres">
                {% for i in range(0, listeMatiere|length) %}
                <ul>
                    <li>
                        <select id="pimpSelect" name="listes_matieres{{i}}">
                            {% for matiere in listeMatiere[i] %}
                            <option value="{{matiere[0]}}">{{matiere[0]}}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <button class="deleteButton" id="BP{{i}}" onclick="supprimerMatiere('BP{{i}}')">❌</button>
                    </li>
                </ul>
                {% endfor %}
            </div>
            <input type="button" value="Ajouter" onclick="ajouterMatiere()">
        </article>
        <input type="submit" value="Enregistrer">
    </form>
    <p>Date de dernière modification {{dateModif}} à {{heuremodif}}</p>
</section>
{% endblock %}