{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
<style>
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        margin: 2%;
    }
    article, ul {
        border: solid 1px;
    }
</style>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='JS/matieres.js')}}"></script>
{% endblock %}
{% block contents %}
  <h1>Vos matières</h1>
        <section>
            <form method="POST">
            <article>
                <div id="matieres">
                    <ul>
                        <li>
                            <select name="listes_matieres0">
                                {% for item in listeMatiere %}
                                <option value={{item}}>{{item}}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li>
                            <button id="BP0" onclick="supprimerMatiere('BP0')">Supprimer</button>
                        </li>
                    </ul>
                </div>
                <input type="button" value="Ajouter" onclick="ajouterMatiere()">
            </article>
            <input type="submit" value="Enregistrer">
            </form>
        </section>
{% endblock %}