{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block contents %}
        <section>
            <article>
                <h1>Bienvenue {{nom_prenom}}</h1>
                <ol>
                    <a href="recherche-dossiers.html">
                        <input type="button" value="Voir les candidats">
                    </a>
                    <a href="recherche-cours.html">
                        <input type="button" value="Voir les cours">
                    </a>
                </ol>
            </article>
        </section>
{% endblock %}