{% extends "base.html" %}
{% block styles_spe %}
{{ super() }}
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block contents %}
        <section>
            <article>
                <h1>Bienvenue {{nom_prenom}}</h1>
                <ol>
                    <a href="dossier_vacataire.html">
                        <input type="button" value="Voir son dossier">
                    </a>
                    <a href="EDT.html">
                        <input type="button" value="Voir ses cours">
                    </a>
                </ol>
            </article>
        </section>
{% endblock %}