{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block contents %}
        <section>
            <article>
                <h1>Bienvenue {{nom_prenom}}</h1>
                <ol>
                    <a href="/recherche-dossiers/">
                        <input type="button" value="Voir les candidats">
                    </a>
                    <a href="/recherche-cours/">
                        <input type="button" value="Voir les cours">
                    </a>
                    <a href="/nouveau_vacataire/">
                        <input type="button" value="Inscrire un vacataire">
                    </a>
                    <a href="/assigner_vacataire/">
                        <input type="button" value="Assigner un vacataire">
                    </a>
                </ol>
            </article>
        </section>
{% endblock %}