{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block contents %}
        <section>
            <article>
                <h1>Bienvenue {{nom_prenom}}</h1>
                <ol>
                    <a href="/dossier_vacataire/">
                        <input type="button" value="Voir son dossier">
                    </a>
                    <a href="/EDT/">
                        <input type="button" value="Voir ses cours">
                    </a>
                </ol>
            </article>
        </section>
{% endblock %}