{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
    <!-- <style>
      input[type="submit"] {
        display: none;
      }
    
      #dispos {
        display: none;
      }
    
      ul {
        display: flex;
      }
    
      li {
        margin: 2%;
      }
    
      article,
      ul {
        border: solid 1px;
      }
    
      @keyframes insert {
        0% {
          transform: translate3d(-150px, 0, 0);
          opacity: 0;
        }
    
        100% {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
      }
    
      @keyframes remove {
        0% {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
    
        100% {
          transform: translate3d(-150px, 0, 0);
          opacity: 0;
        }
      }
    </style> -->
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- <script>
  $("body").on("change", function () {
    verif = true;
    let lst = $("article ol li input");
    console.log(lst)
    for (i = 0; i < lst.length; i++) {
      if (lst.get(i).type != "submit") {
        console.log(lst.get(i).id)
        if (lst.get(i).id != "mdp") {
          if (lst.get(i).value == "") {
            verif = false;
          }
        }
      }
    }
    console.log(verif)
    if (verif) {
      $("#submit").css("display", "flex");
    } else {
      $("#submit").css("display", "none");
    }
  });
</script> -->
{% endblock %}
{% block backwards %}
<a href="/menu_admin/">
  <img  src="{{ url_for('static', filename='IMG/back.png') }}" alt="retour arriere">
</a>
{% endblock %}
{% block contents %}
<h1>Inscrire un nouveau vacataire</h1>
<form method="POST">
  <section>
    <article>
      <ol>
        
        <li>
          {{ form.nom.label }}
          {{ form.nom }}
        </li>
        <li>
          {{ form.prenom.label }}
          {{ form.prenom }}
        </li>
        <li>
          {{ form.email.label }}
          {{ form.email }}
        </li>
        <li>
          {{ form.tel.label }}
          {{ form.tel }}
        </li>
        <li>
          {{ form.ddn.label }}
          {{ form.ddn }}
        </li>
        <li>
          {{ form.password.label }}
          {{ form.password }}
        </li>
        <li>
          {{ form.confirmation.label }}
          {{ form.confirmation }}
        </li>
        <li>
          {{ form.entreprise.label }}
          {{ form.entreprise }}
        </li>
        
      </ol>
    </article>
    <input type="submit" id="submit" value="Inscrire">
  </section>
</form>
{% endblock %}