{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block contents %}
            <section id="flexAvatar">
                <article>
                    <ol>
                        <li><label for="identifiant">Nom: {{ profile_nom }}</label></li>
                        <li><label for="mdp">Prenom: {{ profile_prenom }}</label></li>
                        <li><label for="mdp">Email: {{ profile_email }}</label></li>
                        <li><label for="mdp">Telephone:{{ profile_tel }}</label></li>
                    </ol>
                    <a href="/matiere/">
                        <input type="button" value="Modifier les matières renseignées">
                    </a>
                    <a href="/disponibilites/">
                        <input type="button" value="Modifier les disponibilités">
                    </a>
                </article>
            </section>
            <input type="button" value="Deconnexion">
            <a href="/logout/">
                <input type="button" value="Changer mon mot de passe">
            </a>
{% endblock %}