{% extends "base.html" %}
{% block styles %}
{{ super() }}
    <link rel="icon" href="{{ url_for('static',filename='IMG/vacato_logo.png')}}" sizes="192x192">
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block contents %}
        <form>
            <section id="flexAvatar">
                <article>
                    <ol>
                        <li><label for="identifiant">Nom: {{ profile_nom }}</label></li>
                        <li><label for="mdp">Prenom: {{ profile_prenom }}</label></li>
                        <li><label for="mdp">Email: {{ profile_email }}</label></li>
                        <li><label for="mdp">Telephone:{{ profile_tel }}</label></li>
                    </ol>
                    <input type="button" value="Modifier les matières renseignées">
                    <input type="button" value="Modifier les disponibilités">
                </article>
            </section>
            <input type="button" value="Deconnexion">
            <a href="/logout/">
                <input type="button" value="Changer mon mot de passe">
            </a>
        </form>
{% endblock %}