{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block logout %}
<a href ="/logout/">
    <img src="{{ url_for('static', filename='IMG/deconnexion.png')}}" alt="Icone de déconnexion" />
</a>
{% endblock %}
{% block backwards_profile %}
{% if idUser[0] == 'V' %}
<a href="/menu_vacataire/">
    <img  src="{{ url_for('static', filename='IMG/back.png') }}" alt="retour arriere">
</a>
{% else %}
<a href="/menu_admin/">
    <img  src="{{ url_for('static', filename='IMG/back.png') }}" alt="retour arriere">
</a>
{% endif %}
{% endblock %}
{% block contents %}
            <section id="flexAvatar">
                <article>
                    <ol>
                        <li><label for="identifiant">Nom: {{ profile_nom }}</label></li>
                        <li><label for="mdp">Prenom: {{ profile_prenom }}</label></li>
                        <li><label for="mdp">Email: {{ profile_email }}</label></li>
                        <li><label for="mdp">Telephone:{{ profile_tel }}</label></li>
                    </ol>
                </article>
                <a href="/changer_mdp/">
                    <input type="button" value="Changer son mot de passe">
                </a>
            </section>
{% endblock %}