{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block contents %}
    <h1>Rechercher dossier</h1>
    <section id="table">
      <article>
        <form method="POST">
          <input type="text" name="search" placeholder="{{placeHold}}"/>
          <select name="tri">
            {{% for t in tri %}}
            <option value="{{t}}">{{t}}</option>
          </select>
          {% endfor %}
          <select name="filtre">
            {{% for f in filtre %}}
            <option value="{{f}}">{{f}}</option>
          </select>
          {% endfor %}
          <input type="submit">
        </form>
      </article>
      <article id="table">
        <table>
          <table id="table">
            <tr>
              <td>Nom</td>
              <td>Prenom</td>
              <td>Mail</td>
              <td>Telephone</td>
              <td>Status</td>
            </tr>
            {% for item in vaca %}
            <tr>
              <td>{{item.nomV}}</td>
              <td>{{item.prenomV}}</td>
              <td>{{item.mailV}}</td>
              <td>{{item.numTelV}}</td>
              <td>{{item.etat_dossier}}</td>
            </tr>
            {% endfor %}
          </table>
        </table>
      </article>
    </section>
{% endblock %}