{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block contents %}
    <h1>Rechercher cours</h1>
    <section id="table">
      <article>
        <form method="POST">
          <input type="text" name="search" placeholder="{{placeHolder}}" />
          <select name="infos">
            {{% for f in filtre %}}
            <option value="{{f}}">{{f}}</option>
          </select>
          {% endfor %}
          <input type="submit">
        </form>
      </article>
      <article id="table">
        <table>
          <table id="table">
            <tr>
              <td>Nom</td>
              <td>Prenom</td>
              <td>NomCours</td>
              <td>TypeCours</td>
              <td>Durée</td>
              <td>Date</td>
              <td>Classe/Salle</td>
            </tr>
            {% for item in cours %}
            <tr>
              <td>{{item[3]}}</td>
              <td>{{item[2]}}</td>
              <td>{{item[4]}}</td>
              <td>{{item[5]}}</td>
              <td>{{item[6]}}min</td>
              <td>{{item[0]}}-{{item[7]}}h</td>
              <td>{{item[8]}}/{{item[9]}}</td>
            </tr>
            {% endfor %}
          </table>
        </table>
      </article>
    </section>
{% endblock %}