{% extends "base.html" %}
{% block styles %}
{{ super() }}
    <link rel="icon" href="{{ url_for('static',filename='IMG/vacato_logo.png')}}" sizes="192x192">
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='JS/jquery-3.6.1.min.js')}}"></script>
{% endblock %}
{% block contents %}
    <h1>Rechercher dossier</h1>
    <section id="table">
      <article>
        <form method="POST">
          <input type="text" name="search" placeholder="{{placeHold}}"/>
          <select name="tri">
            {{% for t in tri %}}
            <option value="{{t}}">{{t}}</option>
          </select>
          {% endfor %}
          <select name="filtre">
            {{% for f in filtre %}}
            <option value="{{f}}">{{f}}</option>
          </select>
          {% endfor %}
          <input type="submit">
        </form>
      </article>
      <article id="table">
        <table>
          <table id="table">
            <tr>
              <td>Nom</td>
              <td>Prenom</td>
              <td>Mail</td>
              <td>Telephone</td>
              <td>Status</td>
            </tr>
            {% for item in vaca %}
            <tr>
              <td>{{item.nomV}}</td>
              <td>{{item.prenomV}}</td>
              <td>{{item.mailV}}</td>
              <td>{{item.numTelV}}</td>
              <td>{{item.etat_dossier}}</td>
            </tr>
            {% endfor %}
          </table>
        </table>
      </article>
    </section>
{% endblock %}