{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block contents %}
    <h1>Rechercher dossier</h1>
    <section id="table">
      <article>
        <form method="POST">
          <input type="text" name="search" placeholder="{{placeHold}}"/>
          <select name="tri">
            {% for t in tri %}
            <option value="{{t}}">{{t}}</option>
            {% endfor %}
          </select>
          <select name="filtre">
            {% for f in filtre %}
            <option value="{{f}}">{{f}}</option>
            {% endfor %}
          </select>
          <br>
          <input type="submit">
        </form>
      </article>
      <article id="table">
        <table>
          <table id="table">
            <tr>
              <td>Nom</td>
              <td>Prenom</td>
              <td>Mail</td>
              <td>Telephone</td>
              <td>Status</td>
            </tr>
            {% for item in vaca %}
            <tr>
              <td>{{item.nom_v}}</td>
              <td>{{item.prenom_v}}</td>
              <td>{{item.mail_v}}</td>
              <td>{{item.num_tel_v}}</td>
              <td><a href="{{url_for('voir_dossier_vacataire', id=item.id_vacataire)}}">{{item.etat_dossier}}</a></td>
              
            </tr>
            {% endfor %}
          </table>
        </table>
      </article>
    </section>
{% endblock %}