{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='CSS/headerSpe.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='JS/verifAge.js')}}"></script>
{% endblock %}
{% block contents %}
<section id="flexAvatar">
    <h2>Votre Dossier</h2>
    <label>Etat du dossier : {{ etat }}</label>
    <br>
    <form name=”formulaireTD1” method=”POST”>
        <label>Votre nom</label>
        <input class="doc" type="Text" name="nomDoc" required placeholder="Vide" value="{{ info_vacataire.nom_v }}" disabled>
        <label>Votre prénom</label>
        <input class="doc" type="Text" name="prenomDoc" required placeholder="Vide" value="{{ info_vacataire.prenom_v }}" disabled >
        <label>Votre Date de Naissance</label>
        <input class="doc" type="date" name="ddnDoc" pattern="[0-9]{2})-([0-9]{2})-([0-9]{4})" value="{{ info_vacataire.ddn_v }}" required
          onchange="check_ddn(value,this)" disabled>
        <label>Votre Mail</label>
        <input class="doc" type="email" name="mailDoc" required placeholder="Vide" value="{{ info_vacataire.mail_v }}" disabled>
        <label>Votre Numéro de Telephone</label>
        <input class="doc" type="tel" name="telDoc" pattern=[\d]{10,12} required placeholder="Vide" value="{{ info_vacataire.num_tel_v }}" disabled>
        <label>Votre Entreprise</label>
        <input class="doc" type="Text" name="Entreprise" placeholder="Vide" value="{{ info_vacataire.entreprise }}" disabled>
        <label>Votre Nationnalité</label>
        <input class="doc" type="text" name="nationnalite", placeholder="Vide" value="{{ info_vacataire.nationnalite }}" disabled>
        <label>Votre Profession Actuelle</label>
        <input class="doc" type="text" name="profession" placeholder="Vide" value="{{ info_vacataire.profession }}" disabled>
        <label>Votre Meilleur Diplome</label>
        <input class="doc" type="text" name="diplome" placeholder="Vide", value="{{ info_vacataire.meilleur_diplome }}" disabled>
        <label>Année d'obtention de ce diplome</label>
        <input class="doc" type="text" name="anneeObtention" value="{{ info_vacataire.annee_obtiention }}" disabled>
        <label>Votre Adresse Postale</label>
        <input class="doc" type="text" name="adresse" placeholder="Vide" value="{{ info_vacataire.adresse }}" disabled>
    </form>
    <p>Dernière modification: le {{ date_modif }} à {{ heure_modif }}</p>
    {% if admin_du_dossier == True %}
    <form method="POST">
        {%if etat == "Complet" %}
                <input type="submit" value="Passer le dossier en VALIDE">
        {% else %}
                <input type="submit" value="Passer le dossier en VALIDE" disabled>
        {% endif %}
    </form>
    {% endif %}
</section>
{% endblock %}