body {
    text-align: center;
    background-color: #97C8EB;
    font-family: oswald;
}

header {
    font-family: pacifico;
    background-color: #89B0AE;
    text-align: center;
}
select {
    padding: 0.3rem 0rem 0.3rem 0.3rem;
    font-weight: 500;
    border-radius: 6px;
}
main {
    background-color: cadetblue;
    margin-left: 15%;
    margin-right: 15%
}

#SQL{
    background-color: #e47105;
}
#WEB{
    background-color:blueviolet;
}
#Anglais{
    background-color:brown;
}
#Python{
    background-color: aqua;
}
#table {
    text-align: center;
}

#table>input[type="text"] {
    width: 30%;
    margin-left: 13%;
}

table {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    border: 2px solid #C49799;
    text-align: center;
}