body {
    text-align: center;
    background-color: #97C8EB;
    font-family: oswald;
}

header {
    font-family: pacifico;
    background-color: #89B0AE;
    text-align: center;
}

main {
    background-color: cadetblue;
    margin-left: 15%;
    margin-right: 15%
}
table {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    border: 2px solid #C49799;
    text-align: center;
}
input[type="text"] {
    width: 50%;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    transition: all .15s ease;
    border: solid 0.1px blanchedalmond;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="text"]:focus {
    outline: none;
}
select {
    padding:0.7rem;
    font-weight: 500;
    border-radius: 6px;
}